﻿
@model PagedList.IPagedList<ShoesShopOnline.Models.TinTuc>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <style>
        button a {
            color: white;
        }

            button a:hover {
                color: yellow;
            }
    </style>
</head>
<h2>Danh sách tin tức</h2>
<p>
    <button style="background-color: #428BCA; border-radius: 8px; border: none; margin: 10px 0px; padding: 7px 9px;">@Html.ActionLink("Thêm mới", "Create")</button>
</p>
<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
        <div class="col col-md-6 col-lg-3 col-xl-4">
            <form>
                <div class="input-group">
                    <button class="input-group-text" id="basic-addon2"><span class="fas fa-search">Tìm</span></button>
                    <input type="text" class="form-control" name="searchString" value="@ViewBag.searchString" id="exampleInputIconLeft" placeholder="Tên tin" aria-label="Search" aria-describedby="basic-addon2">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Mã tin tức</th>
                <th>Tên tin tức</th>
                <th>Ngày đăng</th>
                <th>Địa chỉ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Item -->
            @foreach (var item in Model)
            {
                <tr class="group-info">
                    <td>
                        @item.MaTin
                    </td>
                    <td>
                        <span class="font-weight-normal">@item.TenTin</span>
                    </td>
                    <td><span class="font-weight-normal">@item.NgayDang.ToString("dd/MM/yyyy")</span></td>
                    <td>
                        <button style="background-color: midnightblue; border-radius: 8px; border: none; padding: 8px 10px; margin-right: 7px;">@Html.ActionLink("Xem chi tiết", "Edit", new { id = item.MaTin })</button>
                        <button style="background-color: #FF6347; border-radius: 8px; border: none; padding: 8px 30px;">@Html.ActionLink("Xóa", "Delete", new { id = item.MaTin })</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, pageSize = Model.PageSize, searchString = ViewBag.searchString }))