﻿@model PagedList.IPagedList<ShoesShopOnline.Models.ProductDetail>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@section script{
    <script src="~/Areas/Admin/Assets/JS/SanPham.js"></script>
}
<head>
    <style>
       button a {
            color: white;
        }

       button a:hover {
            color: yellow;
       }
        /* .tim{
           background-color:black;
           color:white;
       }*/ 
    </style>
</head>
<h2>Danh sách sản phẩm</h2>
@using (Html.BeginForm())
{
    <p>
        <button style="background-color: #428BCA; border-radius: 8px; border: none; margin: 10px 0px; padding: 7px 9px;">@Html.ActionLink("Thêm mới", "Create")</button>
    <div style="float:right;">
        Tìm sản phẩm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
   <input class="tim" type="submit" value="Tìm" />
    </div>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên sản phẩm", "Index", new { sortOrder = ViewBag.SapTheoTen, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Ảnh
        </th>
        <th>
            @Html.ActionLink("Giá bán", "Index", new { sortOrder = ViewBag.SapTheoGia, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Danh mục
        </th>
        <th>
            Ngày cập nhật
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row-@item.MaSP">
            <td style="width:20%">
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @{
                    string ImagePath = "~/wwwroot/Images/" + item.Anh;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            </td>
            <td>
                @string.Format(info, "{0:c0}", item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySua)
            </td>
            <td>
                <a class="ThemMoi" href="~/Admin/SanPhams/Edit/@item.MaSP"  style="background:#DAA520;color:#fff;border:none">Sửa</a>|
                <a class="ThemMoi" href="~/Admin/SanPhams/Details/@item.MaSP" style="  background: #2f4f4f;color:#FFF;border:none">Chi tiết</a>|
                <a class=" btnDelete ThemMoi" dataname="@item.MaSP" style="background: #FF6347;color:#fff;border:none">Xóa</a>
            </td>
            
        </tr>
    }

</table>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
    }))


