﻿@model List<ShoesShopOnline.Models.CartItem>
@{
    ViewBag.Title = "Chi tiết hóa đơn";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    Decimal tongtien = 0;
    ShoesShopOnline.Models.HoaDon hoadon = ViewBag.HoaDon;
}
@section jsFooter{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    .header-left ul li a {
        font-size: 15px;
    }

    .h_menu4 ul li a {
        font-size: 15px;
    }

    .search {
        font-size: 14px;
    }

    a h3 span {
        font-size: 14px;
    }

    .header .header-top .container {
        padding: 0 6%;
    }

    .head-top {
        padding: 0 6%;
    }

    .footer {
        padding: 0 9%;
        font-size: 15px;
    }

    #update {
        background-color: orangered;
        color: white;
        font-size: 15px;
        padding: 5px 10px;
    }

        #update:hover {
            background-color: black;
            color: white;
        }

    #menucon {
        margin: 24px 0px 14px 0px;
        background-color: #bff9d0;
        text-indent: 10px;
        padding: 10px 0px 0px 0px;
    }

        #menucon ul {
            list-style-type: none;
        }

            #menucon ul li {
                display: inline-block;
            }

                #menucon ul li a {
                    color: #299c77;
                    text-decoration: none;
                }

                    #menucon ul li a:hover {
                        color: black;
                        text-decoration: underline;
                    }
</style>



<div style="margin:100px 12%; font-size:15px">
    <div class="container">
        <div class="row" id="menucon">
            <ul class="d-flex align-items-center">
                <li>@Html.ActionLink("Trang chủ  ", "Index", "Home")<span style=" color: #299c77;">&nbsp ></span></li>
                <li class="active">
                    @Html.ActionLink("Đơn hàng của bạn  ", "Index", "Bill")<span style=" color: #299c77;">&nbsp ></span>
                </li>
                <li class="active">
                    @Html.ActionLink("Đơn hàng chi tiết ", "Details", "Bill", new { id = hoadon.MaHD })
                </li>
            </ul>
        </div>
        <div class="row" style="padding:10px">
            <div class="col-lg-5 col-md-5 border rounded" >
                <h4  style="color: #333;font-weight: 600;margin: 30px 0px;font-size:22px;">Thông tin giao hàng</h4>
                <div style="line-height:40px;">

                    <div style="display:flex;">
                        <div style=" font-weight: 600; font-size: 15px; font-family: inherit;">
                            Họ và tên người nhận<sup style="color:red;">*</sup>
                        </div>
                        <p style="border-bottom: 2px solid #f1f2f4;width:200px;margin-left:auto;">@hoadon.HoTenNguoiNhan </p>

                    </div>
                    <div style="display:flex;">
                        <div style=" font-weight: 600; font-size: 15px; font-family: inherit;">
                            Email người nhận<sup style="color:red;">*</sup>
                        </div>
                        <p style="border-bottom: 2px solid #f1f2f4;width:200px;margin-left:auto;">@hoadon.EmailNguoiNhan </p>
                    </div>

                    <div style="display:flex;">
                        <div style=" font-weight: 600; font-size: 15px; font-family: inherit;">
                            Số điện thoại người nhận<sup style="color:red;">*</sup>
                        </div>
                        <p style="border-bottom: 2px solid #f1f2f4;width:200px;margin-left:auto;">@hoadon.SDTNguoiNhan</p>
                    </div>
                    <div style="display:flex;">
                        <div style=" font-weight: 600; font-size: 15px; font-family: inherit;">
                            Địa chỉ người nhận<sup style="color:red;">*</sup>
                        </div>
                        <p style="border-bottom: 2px solid #f1f2f4;width:200px;margin-left:auto;"> @hoadon.DiaChiNhan</p>
                    </div>
                    <div style="display:flex;">
                        <div style=" font-weight: 600; font-size: 15px; font-family: inherit;">
                            Ghi chú<sup style="color:red;">*</sup>
                        </div>
                        <p style="border-bottom: 2px solid #f1f2f4;width:200px;margin-left:auto;"> @hoadon.GhiChu</p>
                    </div>

                    @if (hoadon.TrangThai == "Đang chuẩn bị" || hoadon.TrangThai == "Chờ xác nhận")
                    {
                       
                            <button type="button" class="btn  btn-lg" data-toggle="modal" data-target="#myModal" style=" font-size: 14px; margin-top: 50px; margin-left: 100px;">Cập nhật thông tin giao hàng</button>
                       
                    }
                </div>
                    
             </div>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true)

                            <div style="padding: 10px 15px">
                                <label>Họ và tên:</label>
                                <input type="text" style="font-size:15px" class="form-control" id="username" name="name" value="@hoadon.HoTenNguoiNhan" required>

                            </div>
                            <div style="padding:10px 15px">
                                <label>Email:</label><br />
                                <input type="email" style="font-size:15px" class="form-control " id="email" name="email" value="@hoadon.EmailNguoiNhan" required>
                            </div>
                            <div style="padding: 10px 15px">
                                <label>Số điện thoại:</label>
                                <input type="text" style="font-size:15px" class="form-control" id="phone" name="phone" value="@hoadon.SDTNguoiNhan" required>

                            </div>
                            <div style="padding: 10px 15px">
                                <label>Địa chỉ giao hàng:</label>
                                <input type="text" style="font-size:15px" class="form-control" id="address" name="address" value="@hoadon.DiaChiNhan" required>

                            </div>
                            <div style="padding: 10px 15px">
                                <label>Ghi chú:</label>
                                <textarea class="form-control" style="font-size:15px" id="note" name="note" rows=5>@hoadon.GhiChu</textarea>
                            </div>
                            <div style="padding: 20px 15px;text-align:center">
                                <button type="submit" style="font-size:15px" class="btn btn-success w-100">Cập nhật</button>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-6 col-md-6">
                <h4 style="margin-bottom:40px; padding-top:20px"><b>Đơn hàng của bạn</b></h4>
                <div class="your-order-table table-responsive">
                    @foreach (var item in Model)
                    {
                        tongtien = tongtien + @item.Gia * @item.SoLuong;
                        <div style="width:100%;clear:both">
                            <div style="float: left; width:30%">
                                @{
                                    string ImagePath = "~/wwwroot/Images/" + @item.ChiTietSanPham.AnhMoTa.HinhAnh;
                                } <img src="@Url.Content(ImagePath)" width="150" height="150" class="img-thumbnail" />
                            </div>
                            <div style="float: left; width:65%;margin-top:10px;">
                                <h4>
                                    <b>
                                        <a href="@Url.Action("ProductDetail","Product" , new { id = item.ChiTietSanPham.AnhMoTa.SanPham.MaSP, maImage = item.MaAnh,madm = item.ChiTietSanPham.AnhMoTa.SanPham.MaDM })" style="color:#333333;font-size:16px;">
                                            @item.ChiTietSanPham.AnhMoTa.SanPham.TenSP
                                        </a>
                                    </b>
                                </h4>
                                <p>Size: @item.KichCo</p>
                                <p>Gía:@String.Format("{0:0,0}", item.Gia)</p>
                            </div>
                            <div style="float: left; text-align:right;margin-top:20px;"><b>X @item.SoLuong</b></div>
                        </div>
                        <div class="mb-5" style="width:100%;clear:both">
                            <hr />
                        </div>
                    }
                    <div>
                        <h5 colspan="6" style="text-align:right">
                            <b style="font-size:20px; color:red">Tổng tiền:<span>&nbsp</span>@String.Format("{0:0,0}", tongtien)<span>&nbsp VNĐ</span></b>
                        </h5>
                    </div>
                    </>

                </div>
            </div>
        </div>
    </div>
</div>

