﻿@model ShoesShopOnline.Models.TaiKhoanNguoiDung

@{ ViewBag.Title = "Tài khoản người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

<h2>Chi tiết</h2>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaTK)

        <div class="form-group">
            @Html.LabelFor(model => model.TenDangNhap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TrangThai)
                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" style="background-color:darkgreen" class="btn btn-default" />
            </div>
        </div>
    </div>}*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-12 col-cl-10">
            <div class="card card-body bg-white border-light shadow-sm mb-4">
                <form action="/TaiKhoanNguoiDungs/Edit" method="post">
                    <div class="row">
                        <input name="id" value="@Model.MaTK" hidden />
                        <div class="col-md-6 mb-2">
                            <div>
                                <label for="category">Tên đăng nhập</label>
                                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.TenDangNhap)" readonly disabled>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div>
                                <label for="nameProduct">Họ tên</label>
                                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.HoTen)" readonly disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div>
                                <label for="category">Số điện thoại</label>
                                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.SDT)" readonly disabled>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div>
                                <label for="nameProduct">Địa chỉ</label>
                                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.DiaChi)" readonly disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div>
                                <label for="dateBuy">Email</label>
                                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Email)" readonly disabled>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div>
                                <label for="size">Trạng thái</label>
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.TrangThai)
                                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" style="background-color:darkgreen" class="btn btn-default" />
                        </div>
                    </div>

                </form>
            </div>
        </div>



    </div>}

<div>
    @Html.ActionLink("Quay trở lại", "Index")
</div>

