﻿@model List<ShoesShopOnline.Models.CartItem>
@{ var sumItem = 0;
                foreach (var item in Model)
                {
                    sumItem += item.SoLuong;
                } }

<div class="cart box_1" style="margin-top:0px">
    <a href="/gio-hang" >
        <h3 style="margin-top:7px">
            <img src="~/Assets/Client/images/cart.png" alt="" />

            <span>
                <sup id="cartcount" count="@sumItem" style="background:red; padding:6px 9px; border-radius:50%">@sumItem</sup>
            </span>

        </h3>
    </a>
</div>