﻿@model IEnumerable<ShoesShopOnline.Models.ProductDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="banner">
    <div class="container">
        <script src="~/Assets/Client/js/responsiveslides.min.js"></script>
        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>

                    <div class="banner-text">
                        <h3>XSHOP- NÂNG NIU BÀN CHÂN VIỆT </h3>
                        <p>
                            XSHOP là đơn vị tiên phong chuyên cung cấp các mẫu giày Thể Thao với mẫu mã đa dạng và
                            giá cả hợp lí trên toàn quốc
                        </p>
                        <a href="single.html">Learn More</a>
                    </div>

                </li>
                <li>

                    <div class="banner-text">
                        <h3>XSHOP- BÀN CHÂN KHÔNG MỎI </h3>
                        <p>
                            Hơn 33 năm trôi qua, như một “bước chân không mỏi”, XSHOP đã từng bước xây dưng cho mình
                            một chiến lược sản xuất tạo ra một thương hiệu gắn liền với nhu cầu, thị hiếu người tiêu
                            dùng..
                        </p>
                        <a href="single.html">Learn More</a>

                    </div>

                </li>
                <li>
                    <div class="banner-text">
                        <h3>XSHOP-BỨT PHÁ ĐỂ THÀNH CÔNG</h3>
                        <p>
                            Với tâm niệm phải “Sáng tạo vì sứ mệnh tồn tại và phát triển công ty”, XSHOP tin rằng
                            các lĩnh vực đầu tư trung
                            tâm thương mại … với uy tín và chất lượng phục vụ sẽ là tôn chỉ hàng đầu cho mọi hoạt
                            động sản xuất kinh doanh của doanh nghiệp
                        </p>
                        <a href="single.html">Learn More</a>

                    </div>

                </li>
            </ul>
        </div>

    </div>
</div>

<!--content-->
<div class="content">
    <div class="container">
        <!----TTin---->
        <div class="infor-product">
            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_truck_1291768-1.png">
                <div class="item1-content">
                    <h5>GIAO HÀNG TOÀN QUỐC</h5>
                    <p>Vận chuyển khắp Việt Nam</p>

                </div>
            </div>

            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_payment_1954199-3.png">
                <div class="item1-content">
                    <h5>THANH TOÁN KHI NHẬN HÀNG</h5>
                    <p>Nhận hàng tại nhà rồi thanh toán</p>
                </div>
            </div>

            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_service_repair_phone_mobile_wrench_screw_driver_4014703-1.png">
                <div class="item1-content">
                    <h5>BẢO HÀNH DÀI HẠN</h5>
                    <p>Bảo hành lên đến 60 ngày</p>
                </div>
            </div>

            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_refresh_3017918-1.png">
                <div class="item1-content">
                    <h5>ĐỔI HÀNG DỄ DÀNG</h5>
                    <p>Đổi hàng thoải mái trong 30 ngày</p>
                </div>
            </div>
        </div>




        <div class="content-top">
            <h1>TOP NHỮNG SẢN PHẨM MỚI NHẤT</h1>

            <div class="grid-in">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 grid-top" data-aos="zoom-in">
                        <a href="@Url.Action("ProductDetail","Product", new { id = item.MaSP, maImage = item.maAnh,madm = item.MaDM })" class="b-link-stripe b-animate-go  thickbox">
                            @{
                                string filePath = "~/wwwroot/images/" + item.Anh;
                            }
                            <img class="img-responsive"
                                 src="@Url.Content(filePath)" alt="">
                            @*<div class="sale">
                                    <p>GIẢM 20%</p>
                                </div>*@
                        </a>

                        <div class="name">
                            <h3><a href="@Url.Action("ProductDetail","Product", new { id = item.MaSP, maImage = item.maAnh,madm = item.MaDM })">@item.TenSP</a></h3>
                            <div class="cost-product">
                                <span></span><b>@string.Format(info, "{0:c0}", item.GiaBan)</b>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="content-top">
            <h2>TOP SẢN PHẨM BÁN CHẠY</h2>
            <div class="grid-in">
                @foreach (var item in ViewBag.ListHot)
                {
                    <div class="col-md-3 grid-top" data-aos="zoom-in">
                        <a href="@Url.Action("ProductDetail","Product", new { id = item.MaSP, maImage = item.maAnh,madm = item.MaDM })" class="b-link-stripe b-animate-go  thickbox">
                            @{
                                string filePath = "~/wwwroot/images/" + item.Anh;
                            }
                            <img class="img-responsive"
                                 src="@Url.Content(filePath)" alt="">
                            @*<div class="sale">
                                    <p>GIẢM 20%</p>
                                </div>*@
                        </a>

                        <div class="name">
                            <h3><a href="@Url.Action("ProductDetail","Product", new { id = item.MaSP, maImage = item.maAnh,madm = item.MaDM })">@item.TenSP</a></h3>
                            <div class="cost-product">
                                <span></span><b>@string.Format(info, "{0:c0}", item.GiaBan)</b>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"> </div>


            </div>
            <br />
            <div class="content-top-center" data-aos="fade-right" data-aos-delay="100">
                <div class="introduce">
                    <p>
                        Hơn 6 năm phát triển, XSHOP luôn mang đến những mẫu giày chất lượng tốt nhất với giá cả hợp lí
                        nhất đến tay người tiêu dùng với hệ thống cửa hàng Số 1 Hà Nội và bán online khắp Việt Nam.
                    </p>

                    <div class="product-sold">
                        <SPAN>1 349 800</SPAN>
                        <p>SẢN PHẨM ĐÃ BÁN</p>
                    </div>


                </div>

                <div class="video">
                    <a href="https://www.youtube.com/watch?v=a1ILAowCiOw&list=TLGG3l7cyXWDlJEzMDExMjAyMQ&t=12s">
                        <img class="img-responsive"
                             src="~/Assets/Client/images/hqdefault.jpg">
                    </a>
                </div>



            </div>
            <div class="content-top">
                <h1>TIN TỨC MỚI NHẤT</h1>
                <div class="grid-in">
                    @foreach (var item in ViewBag.ListNewFeed)
                    {
                        <div class="col-md-4 grid-top" data-aos="flip-up" data-aos-delay="100">
                            <div class="col-md-4a">
                                <a href="@Url.Action("Single","NewFeed", new { ma = item.MaTin})" class="b-link-stripe b-animate-go thickbox">
                                    <img class="img-responsive" src="~/Assets/Client/images/17.jpg" alt="">
                                    @*<div class="infor-fashion">
                                            <p>TIN TỨC THỜI TRANG</p>
                                        </div>*@
                                </a>

                                <div class="name1">
                                    <h3><a href="@Url.Action("Single","NewFeed", new { ma = item.MaTin})">@item.TenTin</a></h3>
                                    <div class="see-detail">
                                        <p>Xem chi tiết<span><i class="far fa-arrow-alt-circle-right"></i></span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                    <div class="clearfix"> </div>
                </div>

            </div>
            <!------->
        </div>
        <!----->
        <!----->


    </div>



</div>

