﻿@model ShoesShopOnline.Models.TaiKhoanNguoiDung

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="image-login" style="height:800px;">
    <div class=" container">
        <div class="account">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="login">
                    <h1 class="account-title">Đăng ký</h1>

                    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { onsubmit = " return check()" }))
                    {
        <div class="clearfix large_form">

            <label class="icon-field">
                <i class="fas fa-user"></i>
            </label>
            @Html.TextBoxFor(model => model.HoTen,
                               new { @class = "form-control", @name = "hoten", @autoforcus = "autofocus", @required = "required", @placeholder = "Họ tên" })
        </div>
                        <div class="clearfix large_form">
                            <label class="icon-field">
                                <i class="fas fa-map-marker-alt"></i>
                            </label>
                            @Html.TextBoxFor(model => model.DiaChi,
                                               new { @class = "form-control", @name = "diachi", @required = "required", @placeholder = "Địa chỉ" })
                        </div>


                                        <div class="clearfix large_form">
                                            <label class="icon-field">
                                                <i class="far fa-envelope"></i>
                                            </label>
                                            @Html.TextBoxFor(model => model.Email,
                                                              new { @class = "form-control", @type = "email", @name = "email", @required = "required", @placeholder = "Email" })<br />
                                        </div>
                                                        <div class="clearfix large_form">
                                                            <label class="icon-field">
                                                                <i class="fas fa-mobile-alt"></i>
                                                            </label>
                                                            @Html.TextBoxFor(model => model.SDT,
                                                                             new { @class = "form-control", @name = "sodienthoai", @required = "required", @placeholder = "Số điện thoại" })
                                                        </div>
                                                                        @Html.ValidationMessage("ErrorSignUp", new { @class = "text-danger", @id = "error-message" })
                                                                                        <div class="clearfix large_form">
                                                                                            <label class="icon-field">
                                                                                                <i class="fas fa-user"></i>
                                                                                            </label>
                                                                                            @Html.TextBoxFor(model => model.TenDangNhap,
                                                                                                              new { @class = "form-control", @name = "tendangnhap", @required = "required", @placeholder = "Tên đăng nhập" })
                                                                                        </div>
                                                                                                        <div class="clearfix large_form">
                                                                                                            <label class="icon-field">
                                                                                                                <i class="fas fa-lock"></i>
                                                                                                            </label>
                                                                                                            <input type="password" class="form-control" id="pwd" name="matkhau" placeholder="Mật khẩu" required>
                                                                                                        </div>
                                                                                                                        <div class="clearfix large_form">
                                                                                                                            <label class="icon-field">
                                                                                                                                <i class="fas fa-lock"></i>
                                                                                                                            </label>
                                                                                                                            <input type="password" class="form-control" id="pwd-confirm" placeholder="Xác nhận mật khẩu" required>
                                                                                                                        </div>


                                                                                                                                        <div class="clearfix large_form">
                                                                                                                                            <input class="btn btn-signin" type="submit" value="Đăng ký" style="width:100%;background-color: #33b5e5;">
                                                                                                                                        </div>}
                </div>




            </div>
        </div>

    </div>
</div>


