﻿@model ShoesShopOnline.Models.TaiKhoanQuanTri

@{ ViewBag.Title = "Delete";
                Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }


<h3>Bạn chắc chắn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTenUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()
        
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" style="background-color:red" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>}
</div>
