﻿@model ShoesShopOnline.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoanNguoiDung.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoanNguoiDung.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTenNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDTNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
