﻿@model List<ShoesShopOnline.Models.CartItem>
@using ShoesShopOnline.Models
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    decimal tongtien = 0;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
@{
    TaiKhoanNguoiDung tk = (TaiKhoanNguoiDung)Session[ShoesShopOnline.Session.ConstaintUser.USER_SESSION];
}
@section jsFooter{
    <link href="~/Assets/Client/css/CustomButton.css" rel="stylesheet" />
}

<!-- Breadcrumb End -->
<div style="margin-top:160px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 border rounded" style="background-color: #ececec; padding: 0px; font-family: inherit;">
                <h2 class="border btn-light" style="border: 1px solid; padding:15px; background-color:black; color:white;text-align: center;font-size: 20px;">Thông tin thanh toán</h2>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div style=" padding: 15px;">
                        <label style="margin-bottom:6px;">Họ và tên:</label>
                        <input type="text" class="form-control" id="username" name="name" value="@tk.HoTen" required>

                    </div>
                    <div style="        padding:  15px;">
                        <label style="margin-bottom:6px;">Email:</label><br />
                        <input type="email" class="form-control " id="email" name="email" value="@tk.Email" required>
                    </div>
                    <div style="padding: 15px;">
                        <label style="margin-bottom:6px;">Số điện thoại:</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="@tk.SDT" required>

                    </div>
                    <div style="padding: 15px;">
                        <label style="margin-bottom:6px;">Địa chỉ giao hàng:</label>
                        <input type="text" class="form-control" id="address" name="address" value="@tk.DiaChi" required>

                    </div>
                    <div style="padding: 15px;">
                        <label style="margin-bottom:6px;">Ghi chú:</label>
                        <textarea class="form-control" id="note" name="note" rows=5></textarea>
                    </div>
                    <div style=" padding: 15px; text-align: center">
                        <button type="submit" class="btn btn-success w-100">Đặt hàng</button>
                    </div>
                }

            </div>
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-6 col-md-6">
                <h2 style="margin-bottom:40px; padding-top:20px"><b>Đơn hàng của bạn</b></h2>
                <div class="your-order-table table-responsive">
                    @foreach (var item in Model)
                    {
                        tongtien = tongtien + @item.Gia * @item.SoLuong;
                        <div style="width:100%;clear:both">
                            <div style="float: left; width:30%;margin-bottom:30px;font-family: initial;">
                                @{
                                    string ImagePath = "~/wwwroot/Images/" + @item.ChiTietSanPham.AnhMoTa.HinhAnh;
                                } <img src="@Url.Content(ImagePath)" width="150" height="150" class="img-thumbnail " />
                            </div>
                            <div style="float: left; width: 65%;margin-top: 20px;">
                                <h5 style="font-size:17px;"><b>@item.ChiTietSanPham.AnhMoTa.SanPham.TenSP</b></h5>
                                <p style="margin: 10px 0 10px 0; font-size: 16px;"><span style="color:#23232c;font-weight:500;">Size:</span> @item.KichCo</p>
                                <p>Gía bán: @String.Format("{0:0,0}", item.Gia)</p>
                            </div>
                            <div style="float: left; text-align:right;margin-top: 20px;margin-left: 6px;"><b>X @item.SoLuong</b></div>
                        </div>
                        <div class="mb-5" style=" width: 100%;
        clear: both;
        border-top: 1px solid #f2f3f4;
        padding-bottom: 30px;
">
                           
                        </div>
                    }
                    <div>
                        <h5 colspan="6" style="text-align:right">
                            <b style="font-size:20px; color:red">Tổng tiền:<span>&nbsp</span>@String.Format("{0:0,0}", tongtien)<span>&nbsp VNĐ</span></b>
                        </h5>
                    </div>
                    </>

                </div>
            </div>
        </div>
    </div>
</div>
